@specodec:registry=http://10.199.64.20:3000/api/packages/specodec/npm/
//10.199.64.20:3000/api/packages/specodec/npm/:_authToken=ddfa0e1b376d095808a1f2ef83c1a0ec3bf2fdbe
registry=https://registry.npmjs.org/
